
Midterm/dataroot/Pneumonia/person8_virus_28.jpeg
Midterm/dataroot/Pneumonia/person8_virus_27.jpeg
Midterm/dataroot/Pneumonia/person79_virus_148.jpeg
Midterm/dataroot/Pneumonia/person78_virus_140.jpeg
Midterm/dataroot/Pneumonia/person77_virus_139.jpeg
Midterm/dataroot/Pneumonia/person76_virus_138.jpeg
Midterm/dataroot/Pneumonia/person75_virus_136.jpeg
Midterm/dataroot/Pneumonia/person74_virus_135.jpeg
Midterm/dataroot/Pneumonia/person72_virus_133.jpeg
Midterm/dataroot/Pneumonia/person71_virus_132.jpeg
Midterm/dataroot/Pneumonia/person71_virus_131.jpeg
Midterm/dataroot/Pneumonia/person70_virus_130.jpeg
Midterm/dataroot/Pneumonia/person69_virus_129.jpeg
Midterm/dataroot/Pneumonia/person67_virus_126.jpeg
Midterm/dataroot/Pneumonia/person66_virus_125.jpeg
Midterm/dataroot/Pneumonia/person65_virus_123.jpeg
Midterm/dataroot/Pneumonia/person64_virus_122.jpeg
Midterm/dataroot/Pneumonia/person63_virus_121.jpeg
Midterm/dataroot/Pneumonia/person62_virus_119.jpeg
Midterm/dataroot/Pneumonia/person61_virus_118.jpeg
Midterm/dataroot/Pneumonia/person60_virus_117.jpeg
Midterm/dataroot/Pneumonia/person59_virus_116.jpeg
Midterm/dataroot/Pneumonia/person57_virus_113.jpeg
Midterm/dataroot/Pneumonia/person56_virus_112.jpeg
Midterm/dataroot/Pneumonia/person55_virus_110.jpeg
Midterm/dataroot/Pneumonia/person54_virus_109.jpeg
Midterm/dataroot/Pneumonia/person53_virus_108.jpeg
Midterm/dataroot/Pneumonia/person53_virus_107.jpeg
Midterm/dataroot/Pneumonia/person52_virus_106.jpeg
Midterm/dataroot/Pneumonia/person51_virus_105.jpeg
Midterm/dataroot/Pneumonia/person50_virus_102.jpeg
Midterm/dataroot/Pneumonia/person49_virus_101.jpeg
Midterm/dataroot/Pneumonia/person48_virus_100.jpeg
Midterm/dataroot/Pneumonia/person47_virus_99.jpeg
Midterm/dataroot/Pneumonia/person46_virus_96.jpeg
Midterm/dataroot/Pneumonia/person45_virus_95.jpeg
Midterm/dataroot/Pneumonia/person44_virus_94.jpeg
Midterm/dataroot/Pneumonia/person44_virus_93.jpeg
Midterm/dataroot/Pneumonia/person43_virus_92.jpeg
Midterm/dataroot/Pneumonia/person42_virus_89.jpeg
Midterm/dataroot/Pneumonia/person41_virus_88.jpeg
Midterm/dataroot/Pneumonia/person40_virus_87.jpeg
Midterm/dataroot/Pneumonia/person3_virus_17.jpeg
Midterm/dataroot/Pneumonia/person3_virus_16.jpeg
Midterm/dataroot/Pneumonia/person3_virus_15.jpeg
Midterm/dataroot/Pneumonia/person39_virus_85.jpeg
Midterm/dataroot/Pneumonia/person38_virus_84.jpeg
Midterm/dataroot/Pneumonia/person38_virus_83.jpeg
Midterm/dataroot/Pneumonia/person37_virus_82.jpeg
Midterm/dataroot/Pneumonia/person36_virus_81.jpeg
Midterm/dataroot/Pneumonia/person35_virus_80.jpeg
Midterm/dataroot/Pneumonia/person34_virus_76.jpeg
Midterm/dataroot/Pneumonia/person33_virus_72.jpeg
Midterm/dataroot/Pneumonia/person32_virus_71.jpeg
Midterm/dataroot/Pneumonia/person31_virus_70.jpeg
Midterm/dataroot/Pneumonia/person30_virus_69.jpeg
Midterm/dataroot/Pneumonia/person29_virus_64.jpeg
Midterm/dataroot/Pneumonia/person28_virus_63.jpeg
Midterm/dataroot/Pneumonia/person28_virus_62.jpeg
Midterm/dataroot/Pneumonia/person26_virus_60.jpeg
Midterm/dataroot/Pneumonia/person25_virus_59.jpeg
Midterm/dataroot/Pneumonia/person24_virus_58.jpeg
Midterm/dataroot/Pneumonia/person23_virus_56.jpeg
Midterm/dataroot/Pneumonia/person22_virus_55.jpeg
Midterm/dataroot/Pneumonia/person22_virus_54.jpeg
Midterm/dataroot/Pneumonia/person21_virus_53.jpeg
Midterm/dataroot/Pneumonia/person21_virus_52.jpeg
Midterm/dataroot/Pneumonia/person20_virus_51.jpeg
Midterm/dataroot/Pneumonia/person1_virus_9.jpeg
Midterm/dataroot/Pneumonia/person1_virus_8.jpeg
Midterm/dataroot/Pneumonia/person1_virus_7.jpeg
Midterm/dataroot/Pneumonia/person1_virus_6.jpeg
Midterm/dataroot/Pneumonia/person1_virus_13.jpeg
Midterm/dataroot/Pneumonia/person1_virus_12.jpeg
Midterm/dataroot/Pneumonia/person1_virus_11.jpeg
Midterm/dataroot/Pneumonia/person19_virus_50.jpeg
Midterm/dataroot/Pneumonia/person18_virus_49.jpeg
Midterm/dataroot/Pneumonia/person17_virus_48.jpeg
Midterm/dataroot/Pneumonia/person16_virus_47.jpeg
Midterm/dataroot/Pneumonia/person1685_virus_2903.jpeg
Midterm/dataroot/Pneumonia/person1682_virus_2899.jpeg
Midterm/dataroot/Pneumonia/person1680_virus_2897.jpeg
Midterm/dataroot/Pneumonia/person1679_virus_2896.jpeg
Midterm/dataroot/Pneumonia/person1678_virus_2895.jpeg
Midterm/dataroot/Pneumonia/person1676_virus_2892.jpeg
Midterm/dataroot/Pneumonia/person1675_virus_2891.jpeg
Midterm/dataroot/Pneumonia/person1674_virus_2890.jpeg
Midterm/dataroot/Pneumonia/person1673_virus_2889.jpeg
Midterm/dataroot/Pneumonia/person1672_virus_2888.jpeg
Midterm/dataroot/Pneumonia/person1671_virus_2887.jpeg
Midterm/dataroot/Pneumonia/person1670_virus_2886.jpeg
Midterm/dataroot/Pneumonia/person1669_virus_2885.jpeg
Midterm/dataroot/Pneumonia/person1669_virus_2884.jpeg
Midterm/dataroot/Pneumonia/person1668_virus_2882.jpeg
Midterm/dataroot/Pneumonia/person1667_virus_2881.jpeg
Midterm/dataroot/Pneumonia/person1665_virus_2878.jpeg
Midterm/dataroot/Pneumonia/person1664_virus_2877.jpeg
Midterm/dataroot/Pneumonia/person1663_virus_2876.jpeg
Midterm/dataroot/Pneumonia/person1662_virus_2875.jpeg
Midterm/dataroot/Pneumonia/person1661_virus_2873.jpeg
Midterm/dataroot/Pneumonia/person1661_virus_2872.jpeg
Midterm/dataroot/Pneumonia/person1660_virus_2869.jpeg
Midterm/dataroot/Pneumonia/person1659_virus_2867.jpeg
Midterm/dataroot/Pneumonia/person1657_virus_2864.jpeg
Midterm/dataroot/Pneumonia/person1656_virus_2862.jpeg
Midterm/dataroot/Pneumonia/person1655_virus_2861.jpeg
Midterm/dataroot/Pneumonia/person1653_virus_2859.jpeg
Midterm/dataroot/Pneumonia/person1653_virus_2858.jpeg
Midterm/dataroot/Pneumonia/person1651_virus_2855.jpeg
Midterm/dataroot/Pneumonia/person1650_virus_2854.jpeg
Midterm/dataroot/Pneumonia/person1650_virus_2852.jpeg
Midterm/dataroot/Pneumonia/person1649_virus_2850.jpeg
Midterm/dataroot/Pneumonia/person1647_virus_2848.jpeg
Midterm/dataroot/Pneumonia/person1645_virus_2845.jpeg
Midterm/dataroot/Pneumonia/person1644_virus_2844.jpeg
Midterm/dataroot/Pneumonia/person1643_virus_2843.jpeg
Midterm/dataroot/Pneumonia/person1642_virus_2842.jpeg
Midterm/dataroot/Pneumonia/person1641_virus_2840.jpeg
Midterm/dataroot/Pneumonia/person1640_virus_2839.jpeg
Midterm/dataroot/Pneumonia/person1637_virus_2834.jpeg
Midterm/dataroot/Pneumonia/person1635_virus_2831.jpeg
Midterm/dataroot/Pneumonia/person1634_virus_2830.jpeg
Midterm/dataroot/Pneumonia/person1633_virus_2829.jpeg
Midterm/dataroot/Pneumonia/person1632_virus_2827.jpeg
Midterm/dataroot/Pneumonia/person1631_virus_2826.jpeg
Midterm/dataroot/Pneumonia/person1629_virus_2823.jpeg
Midterm/dataroot/Pneumonia/person1628_virus_2822.jpeg
Midterm/dataroot/Pneumonia/person1628_virus_2821.jpeg
Midterm/dataroot/Pneumonia/person1627_virus_2819.jpeg
Midterm/dataroot/Pneumonia/person1626_virus_2818.jpeg
Midterm/dataroot/Pneumonia/person1625_virus_2817.jpeg
Midterm/dataroot/Pneumonia/person1623_virus_2813.jpeg
Midterm/dataroot/Pneumonia/person1622_virus_2810.jpeg
Midterm/dataroot/Pneumonia/person1620_virus_2807.jpeg
Midterm/dataroot/Pneumonia/person1619_virus_2806.jpeg
Midterm/dataroot/Pneumonia/person1618_virus_2805.jpeg
Midterm/dataroot/Pneumonia/person1616_virus_2802.jpeg
Midterm/dataroot/Pneumonia/person1615_virus_2801.jpeg
Midterm/dataroot/Pneumonia/person1614_virus_2800.jpeg
Midterm/dataroot/Pneumonia/person1613_virus_2799.jpeg
Midterm/dataroot/Pneumonia/person1612_virus_2798.jpeg
Midterm/dataroot/Pneumonia/person1612_virus_2797.jpeg
Midterm/dataroot/Pneumonia/person1610_virus_2793.jpeg
Midterm/dataroot/Pneumonia/person1608_virus_2786.jpeg
Midterm/dataroot/Pneumonia/person15_virus_46.jpeg
Midterm/dataroot/Pneumonia/person14_virus_44.jpeg
Midterm/dataroot/Pneumonia/person11_virus_38.jpeg
Midterm/dataroot/Pneumonia/person10_virus_35.jpeg
Midterm/dataroot/fvk7h5dg2p-1.zip
Midterm/dataroot/COVID-19 cases/ryct.2020200034.fig5-day7.jpeg
Midterm/dataroot/COVID-19 cases/ryct.2020200034.fig5-day4.jpeg
Midterm/dataroot/COVID-19 cases/ryct.2020200034.fig5-day0.jpeg
Midterm/dataroot/COVID-19 cases/ryct.2020200034.fig2.jpeg
Midterm/dataroot/COVID-19 cases/ryct.2020200028.fig1a.jpeg
Midterm/dataroot/COVID-19 cases/RX-torace-a-letto-del-paziente-in-unica-proiezione-AP-1-1.jpeg
Midterm/dataroot/COVID-19 cases/radiopedia-covid-19-pneumonia-2.jpg
Midterm/dataroot/COVID-19 cases/radiopaedia-2019-novel-coronavirus-infected-pneumonia.jpg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig6b.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig3d.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig3c.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig3b.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig3a.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig2d.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig2c.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig2b.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020201160.fig2a.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020200490.fig3.jpeg
Midterm/dataroot/COVID-19 cases/radiol.2020200274.fig3d.png
Midterm/dataroot/COVID-19 cases/post-intubuation-pneumomediastium-and-pneumothorax-background-covid-19-pneumonia-day7.jpg
Midterm/dataroot/COVID-19 cases/post-intubuation-pneumomediastium-and-pneumothorax-background-covid-19-pneumonia-day6-2.jpg
Midterm/dataroot/COVID-19 cases/post-intubuation-pneumomediastium-and-pneumothorax-background-covid-19-pneumonia-day6-1.jpg
Midterm/dataroot/COVID-19 cases/post-intubuation-pneumomediastium-and-pneumothorax-background-covid-19-pneumonia-day1.jpg
Midterm/dataroot/COVID-19 cases/pneumonia-7.jpg
Midterm/dataroot/COVID-19 cases/pneumocystis-pneumonia-2-PA.png
Midterm/dataroot/COVID-19 cases/pneumocystis-jirovecii-pneumonia-2.jpg
Midterm/dataroot/COVID-19 cases/nejmoa2001191_f5-PA.jpeg
Midterm/dataroot/COVID-19 cases/nejmoa2001191_f5-L.jpeg
Midterm/dataroot/COVID-19 cases/nejmoa2001191_f4.jpeg
Midterm/dataroot/COVID-19 cases/nejmoa2001191_f3-PA.jpeg
Midterm/dataroot/COVID-19 cases/nejmoa2001191_f3-L.jpeg
Midterm/dataroot/COVID-19 cases/nejmoa2001191_f1-PA.jpeg
Midterm/dataroot/COVID-19 cases/nejmoa2001191_f1-L.jpeg
Midterm/dataroot/COVID-19 cases/nejmc2001573_f1b.jpeg
Midterm/dataroot/COVID-19 cases/nejmc2001573_f1a.jpeg
Midterm/dataroot/COVID-19 cases/nCoV-Snohomish-20382862_web1_M1-Lungs-EDH-200201-640x3002x.jpg
Midterm/dataroot/COVID-19 cases/nCoV-radiol.2020200269.fig1-day7.jpeg
Midterm/dataroot/COVID-19 cases/MERS-CoV-1-s2.0-S0378603X1500248X-gr4e.jpg
Midterm/dataroot/COVID-19 cases/lancet-case2b.jpg
Midterm/dataroot/COVID-19 cases/lancet-case2a.jpg
Midterm/dataroot/COVID-19 cases/kjr-21-e25-g001-l-a.jpg
Midterm/dataroot/COVID-19 cases/kjr-21-e24-g003-l-b.jpg
Midterm/dataroot/COVID-19 cases/kjr-21-e24-g003-l-a.jpg
Midterm/dataroot/COVID-19 cases/kjr-21-e24-g002-l-c.jpg
Midterm/dataroot/COVID-19 cases/kjr-21-e24-g002-l-a.jpg
Midterm/dataroot/COVID-19 cases/kjr-21-e24-g001-l-b.jpg
Midterm/dataroot/COVID-19 cases/kjr-21-e24-g001-l-a.jpg
Midterm/dataroot/COVID-19 cases/jkms-35-e79-g001-l-c.jpg
Midterm/dataroot/COVID-19 cases/jkms-35-e79-g001-l-b.jpg
Midterm/dataroot/COVID-19 cases/jkms-35-e79-g001-l-a.jpg
Midterm/dataroot/COVID-19 cases/gr1_lrg-b.jpg
Midterm/dataroot/COVID-19 cases/gr1_lrg-a.jpg
Midterm/dataroot/COVID-19 cases/figure1-5e7c1b8d98c29ab001275405-98.jpeg
Midterm/dataroot/COVID-19 cases/figure1-5e7c1b8d98c29ab001275405-98-later.jpeg
Midterm/dataroot/COVID-19 cases/figure1-5e75d0940b71e1b702629659-98-right.jpeg
Midterm/dataroot/COVID-19 cases/figure1-5e73d7ae897e27ff066a30cb-98.jpeg
Midterm/dataroot/COVID-19 cases/figure1-5e71be566aa8714a04de3386-98-left.jpeg
Midterm/dataroot/COVID-19 cases/fff49165-b22d-4bb4-b9d1-d5d62c52436c.annot.original.png
Midterm/dataroot/COVID-19 cases/FE9F9A5D-2830-46F9-851B-1FF4534959BE.jpeg
Midterm/dataroot/COVID-19 cases/F63AB6CE-1968-4154-A70F-913AF154F53D.jpeg
Midterm/dataroot/COVID-19 cases/F4341CE7-73C9-45C6-99C8-8567A5484B63.jpeg
Midterm/dataroot/COVID-19 cases/F2DE909F-E19C-4900-92F5-8F435B031AC6.jpeg
Midterm/dataroot/COVID-19 cases/E63574A7-4188-4C8D-8D17-9D67A18A1AFA.jpeg
Midterm/dataroot/COVID-19 cases/E1724330-1866-4581-8CD8-CEC9B8AFEDDE.jpeg
Midterm/dataroot/COVID-19 cases/da9e9aac-de8c-44c7-ba57-e7cc8e4caaba.annot.original.jpeg
Midterm/dataroot/COVID-19 cases/D7AF463C-2369-492D-908D-BE1911CCD74C.jpeg
Midterm/dataroot/COVID-19 cases/D5ACAA93-C779-4E22-ADFA-6A220489F840.jpeg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-mild.JPG
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-evolution-over-a-week-1-day4.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-evolution-over-a-week-1-day3.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-evolution-over-a-week-1-day0-PA.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-evolution-over-a-week-1-day0-L.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-bilateral.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-8.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-7-PA.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-7-L.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-67.jpeg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-58-day-9.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-58-day-7.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-58-day-3.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-58-day-10.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-53.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-49-day8.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-49-day4.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-44-day-8.jpeg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-44-day-0.jpeg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-43-day2.jpeg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-43-day0.jpeg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-42.jpeg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-41-day-2.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-41-day-0.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-40.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-38-pa.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-38-l.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-35-2.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-35-1.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-34.png
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-30-PA.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-30-L.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-28.png
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-24-day7.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-24-day6.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-24-day12.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-23-day9.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-23-day3.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-23-day1.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-22-day2-pa.png
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-22-day1-pa.png
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-22-day1-l.png
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-20.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-20-pa-on-admission.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-20-l-on-admission.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-2.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-19.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-15-PA.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-15-L.jpg
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-14-PA.png
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-14-L.png
Midterm/dataroot/COVID-19 cases/covid-19-pneumonia-12.jpg
Midterm/dataroot/COVID-19 cases/covid-19-infection-exclusive-gastrointestinal-symptoms-pa.png
Midterm/dataroot/COVID-19 cases/covid-19-infection-exclusive-gastrointestinal-symptoms-l.png
Midterm/dataroot/COVID-19 cases/covid-19-caso-70-2-APS.jpg
Midterm/dataroot/COVID-19 cases/covid-19-caso-70-1-PA.jpg
Midterm/dataroot/COVID-19 cases/covid-19-caso-70-1-L.jpg
Midterm/dataroot/COVID-19 cases/ciaa199.pdf-001-c.png
Midterm/dataroot/COVID-19 cases/ciaa199.pdf-001-b.png
Midterm/dataroot/COVID-19 cases/ciaa199.pdf-001-a.png
Midterm/dataroot/COVID-19 cases/CD50BA96-6982-4C80-AE7B-5F67ACDBFA56.jpeg
Midterm/dataroot/COVID-19 cases/C6EA0BE5-B01E-4113-B194-18D956675E25.jpeg
Midterm/dataroot/COVID-19 cases/B59DD164-51D5-40DF-A926-6A42DD52EBE8.jpeg
Midterm/dataroot/COVID-19 cases/B2D20576-00B7-4519-A415-72DE29C90C34.jpeg
Midterm/dataroot/COVID-19 cases/auntminnie-d-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg
Midterm/dataroot/COVID-19 cases/auntminnie-c-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg
Midterm/dataroot/COVID-19 cases/auntminnie-b-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg
Midterm/dataroot/COVID-19 cases/auntminnie-a-2020_01_28_23_51_6665_2020_01_28_Vietnam_coronavirus.jpeg
Midterm/dataroot/COVID-19 cases/auntminnie-2020_01_31_20_24_2322_2020_01_31_x-ray_coronavirus_US.jpg
Midterm/dataroot/COVID-19 cases/all14238-fig-0002-m-f.jpg
Midterm/dataroot/COVID-19 cases/all14238-fig-0002-m-e.jpg
Midterm/dataroot/COVID-19 cases/all14238-fig-0002-m-d.jpg
Midterm/dataroot/COVID-19 cases/all14238-fig-0001-m-c.jpg
Midterm/dataroot/COVID-19 cases/all14238-fig-0001-m-b.jpg
Midterm/dataroot/COVID-19 cases/A7E260CE-8A00-4C5F-A7F5-27336527A981.jpeg
Midterm/dataroot/COVID-19 cases/a1a7d22e66f6570df523e0077c6a5a_jumbo.jpeg
Midterm/dataroot/COVID-19 cases/9fdd3c3032296fd04d2cad5d9070d4_jumbo.jpeg
Midterm/dataroot/COVID-19 cases/9C34AF49-E589-44D5-92D3-168B3B04E4A6.jpeg
Midterm/dataroot/COVID-19 cases/93FE0BB1-022D-4F24-9727-987A07975FFB.jpeg
Midterm/dataroot/COVID-19 cases/8FDE8DBA-CFBD-4B4C-B1A4-6F36A93B7E87.jpeg
Midterm/dataroot/COVID-19 cases/85E52EB3-56E9-4D67-82DA-DEA247C82886.jpeg
Midterm/dataroot/COVID-19 cases/80446565-E090-4187-A031-9D3CEAA586C8.jpeg
Midterm/dataroot/COVID-19 cases/7EF28E12-F628-4BEC-A8C5-E6277C2E4F60.png
Midterm/dataroot/COVID-19 cases/7E335538-2F86-424E-A0AB-6397783A38D0.jpeg
Midterm/dataroot/COVID-19 cases/7D2CF6CE-F529-4470-8356-D33FFAF98600.jpeg
Midterm/dataroot/COVID-19 cases/7C69C012-7479-493F-8722-ABC29C60A2DD.jpeg
Midterm/dataroot/COVID-19 cases/7AF6C1AF-D249-4BD2-8C26-449304105D03.jpeg
Midterm/dataroot/COVID-19 cases/6CB4EFC6-68FA-4CD5-940C-BEFA8DAFE9A7.jpeg
Midterm/dataroot/COVID-19 cases/6C94A287-C059-46A0-8600-AFB95F4727B7.jpeg
Midterm/dataroot/COVID-19 cases/6b44464d-73a7-4cf3-bbb6-ffe7168300e3.annot.original.jpeg
Midterm/dataroot/COVID-19 cases/5e6dd879fde9502400e58b2f.jpeg
Midterm/dataroot/COVID-19 cases/5CBC2E94-D358-401E-8928-965CCD965C5C.jpeg
Midterm/dataroot/COVID-19 cases/5A78BCA9-5B7A-440D-8A4E-AE7710EA6EAD.jpeg
Midterm/dataroot/COVID-19 cases/5931B64A-7B97-485D-BE60-3F1EA76BC4F0.jpeg
Midterm/dataroot/COVID-19 cases/58cb9263f16e94305c730685358e4e_jumbo.jpeg
Midterm/dataroot/COVID-19 cases/53EC07C9-5CC6-4BE4-9B6F-D7B0D72AAA7E.jpeg
Midterm/dataroot/COVID-19 cases/4e43e48d52c9e2d4c6c1fb9bc1544f_jumbo.jpeg
Midterm/dataroot/COVID-19 cases/4C4DEFD8-F55D-4588-AAD6-C59017F55966.jpeg
Midterm/dataroot/COVID-19 cases/4ad30bc6-2da0-4f84-bc9b-62acabfd518a.annot.original.png
Midterm/dataroot/COVID-19 cases/44C8E3D6-20DA-42E9-B33B-96FA6D6DE12F.jpeg
Midterm/dataroot/COVID-19 cases/446B2CB6-B572-40AB-B01F-1910CA07086A.jpeg
Midterm/dataroot/COVID-19 cases/41591_2020_819_Fig1_HTML.webp-day5.png
Midterm/dataroot/COVID-19 cases/41591_2020_819_Fig1_HTML.webp-day10.png
Midterm/dataroot/COVID-19 cases/39EE8E69-5801-48DE-B6E3-BE7D1BCF3092.jpeg
Midterm/dataroot/COVID-19 cases/35AF5C3B-D04D-4B4B-92B7-CB1F67D83085.jpeg
Midterm/dataroot/COVID-19 cases/353889E0-A1E8-4F9E-A0B8-F24F36BCFBFB.jpeg
Midterm/dataroot/COVID-19 cases/31BA3780-2323-493F-8AED-62081B9C383B.jpeg
Midterm/dataroot/COVID-19 cases/2C26F453-AF3B-4517-BB9E-802CF2179543.jpeg
Midterm/dataroot/COVID-19 cases/2C10A413-AABE-4807-8CCE-6A2025594067.jpeg
Midterm/dataroot/COVID-19 cases/2B8649B2-00C4-4233-85D5-1CE240CF233B.jpeg
Midterm/dataroot/COVID-19 cases/2966893D-5DDF-4B68-9E2B-4979D5956C8E.jpeg
Midterm/dataroot/COVID-19 cases/254B82FC-817D-4E2F-AB6E-1351341F0E38.jpeg
Midterm/dataroot/COVID-19 cases/23E99E2E-447C-46E5-8EB2-D35D12473C39.png
Midterm/dataroot/COVID-19 cases/1F6343EE-AFEC-4B7D-97F5-62797EE18767.jpeg
Midterm/dataroot/COVID-19 cases/1B734A89-A1BF-49A8-A1D3-66FAFA4FAC5D.jpeg
Midterm/dataroot/COVID-19 cases/171CB377-62FF-4B76-906C-F3787A01CB2E.jpeg
Midterm/dataroot/COVID-19 cases/16691_1_1.jpg
Midterm/dataroot/COVID-19 cases/16674_1_1.jpg
Midterm/dataroot/COVID-19 cases/16672_1_1.jpg
Midterm/dataroot/COVID-19 cases/16669_3_1.jpeg
Midterm/dataroot/COVID-19 cases/16669_1_1.jpeg
Midterm/dataroot/COVID-19 cases/16664_2_1.jpg
Midterm/dataroot/COVID-19 cases/16664_1_1.jpg
Midterm/dataroot/COVID-19 cases/16663_1_2.jpg
Midterm/dataroot/COVID-19 cases/16663_1_1.jpg
Midterm/dataroot/COVID-19 cases/16660_4_1.jpg
Midterm/dataroot/COVID-19 cases/16660_3_1.jpg
Midterm/dataroot/COVID-19 cases/16660_2_1.jpg
Midterm/dataroot/COVID-19 cases/16660_1_1.jpg
Midterm/dataroot/COVID-19 cases/16654_4_1.jpg
Midterm/dataroot/COVID-19 cases/16654_2_1.jpg
Midterm/dataroot/COVID-19 cases/16654_1_1.png
Midterm/dataroot/COVID-19 cases/1312A392-67A3-4EBF-9319-810CF6DA5EF6.jpeg
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-003-fig4b.png
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-003-fig4a.png
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-002-fig3b.png
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-002-fig3a.png
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-001-fig2b.png
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-001-fig2a.png
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-000-fig1b.png
Midterm/dataroot/COVID-19 cases/1.CXRCTThoraximagesofCOVID-19fromSingapore.pdf-000-fig1a.png
Midterm/dataroot/COVID-19 cases/1-s2.0-S1684118220300682-main.pdf-003-b2.png
Midterm/dataroot/COVID-19 cases/1-s2.0-S1684118220300682-main.pdf-003-b1.png
Midterm/dataroot/COVID-19 cases/1-s2.0-S1684118220300682-main.pdf-002-a2.png
Midterm/dataroot/COVID-19 cases/1-s2.0-S1684118220300682-main.pdf-002-a1.png
Midterm/dataroot/COVID-19 cases/1-s2.0-S1684118220300608-main.pdf-002.jpg
Midterm/dataroot/COVID-19 cases/1-s2.0-S1684118220300608-main.pdf-001.jpg
Midterm/dataroot/COVID-19 cases/1-s2.0-S0929664620300449-gr2_lrg-d.jpg
Midterm/dataroot/COVID-19 cases/1-s2.0-S0929664620300449-gr2_lrg-c.jpg
Midterm/dataroot/COVID-19 cases/1-s2.0-S0929664620300449-gr2_lrg-b.jpg
Midterm/dataroot/COVID-19 cases/1-s2.0-S0929664620300449-gr2_lrg-a.jpg
Midterm/dataroot/COVID-19 cases/1-s2.0-S0140673620303706-fx1_lrg.jpg
Midterm/dataroot/COVID-19 cases/03BF7561-A9BA-4C3C-B8A0-D3E585F73F3C.jpeg
Midterm/dataroot/COVID-19 cases/01E392EE-69F9-4E33-BFCE-E5C968654078.jpeg
